<div class= "footer">
    <div class= "footer_info">
      <ul>
        <li>
          <p>
          〒542-0076
          </p>
        </li>
        <li>
          <p>
          大阪府大阪市中央区難波５丁目１−６０ １５F
          </p>
        </li>
        <li>
        <p>
        TEL:000-000-0000
        </p>
        </li>
      </ul>
    </div>
    <div class= "footer_user">
      <%= link_to "管理者", new_user_session_path, class: 'post' %>
    </div>

</div>