<div class= "top">
  <div class= "top_header">
    <div class= "contents_copy">
      <p>
      エンジニアが集うお店
      </p>
    </div>
    <div class= "top_header_name">
      <h1><a href= "tweets#index">
        Cafe <span>T</span>ech
      </h1></a>
    </div>
    
    <div class= "menu_btn">
      <ul>
        <li>
          <div class= "food_btn">
            <a href= "foods#index">Food</a>
          </div>
        </li>
        <li>
          <div class= "drink_btn">
            <a href= "drinks#index">Drink</a>
          </div>
        </li>
        <li>
          <div class= "access_btn">
            <a href= "access#index">Access</a>
        </div>
        </li>
      </ul>
  </div>
</div>