<div class= "top">
  <%= render "tweets/top"%>
</div>

<div class= "main">
  <div class= "access">
    <div class= "map">
      <h1>
        access map
      </h1>
    </div>
    <div class= "map_info">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.6425363105236!2d135.5009267!3d34.663729499999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e76c649ad3e5%3A0xcede69f37886d9b1!2z44Gq44KT44Gw44K544Kr44Kk44Kq77yITkFNQkEgU2t5TyBzaG9wcyZyZXN0YXVyYW50c--8iQ!5e0!3m2!1sja!2sjp!4v1579672300229!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <div class= "map_add">
      <p>
        〒542-0076
      </p>
      <p>
      大阪府大阪市中央区難波５丁目１−６０ １５F
      </p>
      <p>
      TEL:000-000-0000
      </p>
    </div>
  </div>
</div>

<div class= "footer">
  <%= render "tweets/footer" %>
</div>